---
services:
  kali:
    image: ryaben/kali-dtunetsec:latest
    platform: linux/amd64
    ports:
      - "127.0.0.1:6901:6901"
      - "127.0.0.1:1443:1443"
    environment:
      VNC_PW: "password"
    cap_add:
      - NET_ADMIN
      - NET_RAW

  defender:
    image: ryaben/defender-dtunetsec:latest
    platform: linux/amd64
    profiles: [threat-detection, blue-team]
    ports:
      - "127.0.0.1:2223:22"
      - "127.0.0.1:8080:80"
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW

  iot:
    image: ryaben/iot-dtunetsec:latest
    platform: linux/amd64
    profiles: [iot]
    ports:
      - "127.0.0.1:2121:21" # FTP
      - "127.0.0.1:2222:22" # SSH
      - "127.0.0.1:2323:23" # Telnet
      - "127.0.0.1:1554:554" # RTSP
      - "127.0.0.1:1631:631" # IPP
      - "127.0.0.1:4840:4840" # MQTT
      - "127.0.0.1:5683:5683" # CoAP

  cowrie:
    image: cowrie/cowrie
    profiles: [threat-detection]
    ports:
      - "127.0.0.1:2222:2222"

  # Used for the "11 - Red team" lab
  juice-shop:
    image: bkimminich/juice-shop
    profiles: [red-team]
    ports:
      - "127.0.0.1:3000:3000"